*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
font-family: 'Shippori Antique B1', sans-serif;
}
.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(black-paper-7.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
h1 {
    color: white;
    text-align: center;
    font-size: 50px;
    
}
p {
    color: white;
    text-align: center;
    font-size: 30px;
}